body{
	background-color:#C5EBF8; 
	
}

h1{text-align:center;
font-size:48px;
color:#2A609E;
}

.centerAllign{
	align:center;
	margin:0 auto;
	color:#000000;
}


input{
	padding:10px;
	font-size:inherit;
}

input[type="text"]{
	display:block;
	margin-bottom:25px;
	width:300px;
	border-width:2px;
	border-color:#2A609E;
}

input[type="email"]{
	display:block;
	margin-bottom:25px;
	width:300px;
	border-width:2px;
	border-color:#2A609E;
}

input[type="password"]{
	display:block;
	margin-bottom:25px;
	width:300px;
	border-width:2px;
	border-color:#2A609E;
}

input[type="radio"]{
	margin:0 8px 25px 18px;
	width:50px;
	border-width:2px;
	border-color:#2A609E;
}
input[type="radio"]:first-child{
	margin-left:0 ;
}
input[type="submit"]{
	
	width:320px;
	height:45px;
	border:none;
	color:white;
	background-color:#2A609E;
}